<section class="text-gray-600 body-font relative">
  <div class="mx-auto flex px-5 md:px-20 lg:py-24 md:flex-row flex-col items-center">
    <div class="w-1/2 md:order-last" data-aos="zoom-in-left" data-aos-duration="1500">
      <img class="object-cover object-center rounded" alt="hero" src="/assets/5.jpg" />
    </div>
    <div
      data-aos="zoom-in-right"
      data-aos-duration="1500"
      class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1
        data-aos="zoom-in-up"
        data-aos-duration="1500"
        class="title-font lg:text-5xl text-3xl mb-6 font-medium text-primary mt-5 md:mt-20">
        Easy transition from job seeker to employee
      </h1>
      <p data-aos="zoom-in-up" data-aos-duration="1500" class="mb-8 leading-loose">
        Your first hiring was made easier with Jobcart. Now provide a streamlined onboarding process with our upgraded HR software. Jobcart allows you to easily keep track of all employee details and save time by automating the onboarding process.
      </p>
      <div data-aos="zoom-in-up" data-aos-duration="1500" class="flex justify-center">
        <button class="btn btn-primary btn-wide">Talk to Us</button>
      </div>
    </div>
  </div>
</section>

<!--<section class="text-gray-600 body-font">
  <div class="container px-5 lg:py-24 mx-auto">
    <div data-aos="zoom-in-right" data-aos-duration="1500" class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <span class="inline-block h-1 w-10 rounded bg-primary mt-8 mb-6"></span>
      <p class="leading-relaxed text-lg">
        “We can tap into a rich talent pool using built-in sourcing tools. So, essentially, we get an ATS and a far-
        reaching and targeted online candidate search engine rolled into one.”
      </p>
      <div class="avatar my-5">
        <div class="w-14 rounded-full ring-offset-base-100 ring-offset-2">
          <img src="/assets/testimonial1.png" />
        </div>
      </div>
      <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Jenny McMaster</h2>
      <p class="text-gray-500">Business Support Manager, InnoWell</p>
    </div>
  </div>
</section>-->

<section class="bg-rose-50 text-gray-700 p-5 py-10 md:py-24 md:px-20 my-10">
  <div class="flex flex-col gap-5 md:items-center justify-center">
    <p data-aos="zoom-in-up" data-aos-duration="1500" class="text-lg md:text-4xl lg:text-5xl font-semibold text-center">
      Easy and smooth onboarding
    </p>
    <img data-aos="zoom-in-up" data-aos-duration="1500" class="md:w-1/2" src="/assets/13-transparent.png" alt="" />
  </div>
  <div class="flex flex-col md:flex-row justify-center">
    <div class="lg:w-2/3 flex flex-col md:flex-row justify-center mt-20 gap-x-20">
      <div class="md:w-1/2 flex flex-col items-center">
        <img src="/assets/icons/icon3.svg" alt="" />
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-xl font-semibold">
          Just what you've been looking for
        </p>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-center text-gray-400 my-2">
          You're able to customize your new hire's onboarding experience by assigning them tasks on their onboarding portal, such as watching films, signing papers, and filling up their employee profile.
        </p>
      </div>
      <div class="md:w-1/2 flex flex-col items-center">
        <svg
          data-aos="zoom-in-right"
          data-aos-duration="1500"
          xmlns="http://www.w3.org/2000/svg"
          width="64"
          height="64"
          viewBox="0 0 64 64"
        >
          <g fill="none" fill-rule="evenodd">
            <path d="M4.5 42v13.5h47V51M4.5 38v1" stroke="#008075"></path>
            <path stroke="#008075" d="M12.5 46V12M51 11.5h8.5v34h-47v-34H21M26 11.5h19"></path>
            <path stroke="#008075" d="M55.5 46v4.5h-47v-35H12"></path>
            <path
              stroke="#02BFD3"
              d="M26.5 23.5h-.4c-.6.1-1.2.3-1.6.7-2.8 2.2-1.3 8.3 2 8.4 3.3.1 4.7-6.2 2-8.4-.5-.4-1-.6-1.6-.7h-.4zM20.8 35.4c.3-1.4 1.2-2.7 2.4-3.6M29.7 31.9c1.2.8 2.1 2.1 2.3 3.6"
            ></path>
            <path
              stroke="#008075"
              d="M39 24.5h15M39 28.5h15M39 32.5h6M48 32.5h-1M26.5 11.5c0 1.1-.9 2-2 2h-2c-1.1 0-2-.9-2-2s.9-2 2-2h2c1.1 0 2 .9 2 2zM47 9.5h2c1.1 0 2 .9 2 2s-.9 2-2 2h-2c-1.1 0-2-.9-2-2s.9-2 2-2zM26.5 19.5a9 9 0 0 1 9 9 9 9 0 0 1-9 9 9 9 0 0 1-9-9 9 9 0 0 1 9-9z"
            ></path>
          </g>
        </svg>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-xl font-semibold">Customized onboarding portal</p>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-center text-gray-400 my-2">
          Before starting work, the new employee has access to a centralized, user-friendly, and branded onboarding platform. The procedures and deadlines are simple to follow and finish.
        </p>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row justify-center">
    <div class="lg:w-2/3 flex flex-col md:flex-row justify-center mt-20 gap-x-20">
      <div class="md:w-1/2 flex flex-col items-center">
        <img src="/assets/icons/icon4.svg" alt="" />
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-xl font-semibold">Onboarding control panel</p>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-center text-gray-400 my-2">
          It's simple to keep tabs on several enrollments. Your recruiting staff will be able to monitor each new hire's progress through their onboarding activities with the help of the dashboard and intervene as necessary.
        </p>
      </div>
      <div class="md:w-1/2 flex flex-col items-center">
        <img src="/assets/icons/icon6.svg" alt="" />
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-xl font-semibold text-center">
          Get onboard with automation just in time
        </p>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-center text-gray-400 my-2">
          You can always be sure you get the information you need since the onboarding process will begin a certain number of days before the employee's start date.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-700 px-5 py-10 md:py-24 md:px-20 my-10">
  <div class="flex flex-col items-center justify-center">
    <div class="lg:w-2/3 md:flex justify-between items-start">
      <div class="md:w-1/2">
        <img data-aos="zoom-in-right" data-aos-duration="1500" src="/assets/organise.svg" alt="" class="md:-ml-20" />
      </div>
      <div class="md:w-1/2">
        <p data-aos="zoom-in-left" data-aos-duration="1500" class="text-xl md:text-4xl font-semibold mt-10 md:mt-0">
          Simple management of employee records
        </p>

        <p data-aos="zoom-in-left" data-aos-duration="1500" class="text-xl font-bold my-5">
          Profile templates for employees
        </p>
        <p data-aos="zoom-in-left" data-aos-duration="1500" class="text-gray-400 my-5">
          Collect the precise data required for a certain region or kind of job with the help of numerous profile templates.
        </p>
        <p data-aos="zoom-in-left" data-aos-duration="1500" class="text-xl font-bold my-5">Creative and dynamic employee profiles</p>
        <p data-aos="zoom-in-left" data-aos-duration="1500" class="text-gray-400 my-5">
          During the first stages of the onboarding process, new recruits start filling up their employee profiles. The good news is that, as workers, they can easily keep their profile up to date by making changes themselves.
        </p>
        <p data-aos="zoom-in-left" data-aos-duration="1500" class="text-xl font-bold my-5">Storage for the company's files</p>
        <p data-aos="zoom-in-left" data-aos-duration="1500" class="text-gray-400 my-5">
          Provide your staff with standard paperwork. Store everything in a single location that's convenient for everyone.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-blue-50 text-gray-700 px-5 py-10 md:py-24 md:px-20 my-10">
  <div class="flex flex-col items-center justify-center">
    <div class="lg:w-2/3 md:flex justify-between items-start">
      <div class="md:order-last md:w-1/2">
        <img data-aos="zoom-in-left" data-aos-duration="1500" src="/assets/2.jpg" alt="" class="md:ml-20" />
      </div>
      <div class="md:w-1/2">
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-xl md:text-4xl font-semibold mt-10 md:mt-0">
          Create an organizational chart for your organization in no time.
        </p>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="mt-8 md:leading-loose lg:w-5/6 text-gray-400">
          Get some assistance by helping others. The advanced recommendation system uses current staff and their personal networks to source and monitor your next great hiring. Use Jobcart to easily coordinate with outside recruiters and measure their effectiveness.
        </p>

        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-xl font-bold my-5">
          Recruiter's Bird's-Eye View
        </p>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-gray-400 my-5">
          New hires may use this as a quick reference to learn about who reports to whom and how many people work on each team.
        </p>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-xl font-bold my-5">
          Monitor the evolution of the business.
        </p>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-gray-400 my-5">
          Existing staff members will find the organizational chart particularly useful in keeping tabs on transitions. Whether you're experiencing rapid expansion or a merger of divisions, it's important to keep everyone on the same page without piling on more work.
        </p>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-xl font-bold my-5">Regular automated updates</p>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-gray-400 my-5">
          When a new employee is hired, they will be assigned to the appropriate position in the company's organizational hierarchy. There will be no further updates.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-700 px-5 py-10 md:py-24 md:px-20 my-10">
  <div class="flex flex-col items-center justify-center">
    <div class="lg:w-2/3 md:flex justify-between items-start">
      <div class="md:w-1/2">
        <img src="/assets/4.jpg" alt="" class="md:-ml-20" />
      </div>
      <div class="md:w-1/2">
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-xl md:text-4xl font-semibold mt-10 md:mt-0">
          Effective monitoring of vacation time
        </p>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="mt-8 md:leading-loose lg:w-5/6 text-gray-400">
          
        </p>

        <p class="text-xl font-bold my-5">Effective monitoring of vacation time</p>
        <p class="text-gray-400 my-5">
          Jobcart streamlines the time off request and tracking processes for both workers and supervisors.
        </p>
        <p class="text-xl font-bold my-5">Optional policies and accrual schedules</p>
        <p class="text-gray-400 my-5">
          Different departments or categories of employees may need unique regulations regarding vacation time. Accrue time off, distribute it according to predetermined norms, and monitor employee satisfaction.
        </p>
        <p class="text-xl font-bold my-5">Identify who's out</p>
        <p class="text-gray-400 my-5">
          The business calendar makes it easy to see who is absent and for how long. When requests for time off are accepted or rejected, the calendar is immediately updated.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-rose-50 text-gray-700 px-5 py-10 md:py-24 md:px-20 my-10">
  <div class="flex flex-col items-center justify-center">
    <div class="lg:w-2/3 md:flex justify-between items-start">
      <div class="md:order-last md:w-1/2">
        <img src="/assets/1.jpeg" alt="" class="md:ml-20" />
      </div>
      <div class="md:w-1/2">

        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-xl font-bold my-5">HR Software — what exactly is it?</p>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-gray-400 my-5">
          HR information systems, or HR Softwares, track and manage personnel data. Human resources departments use this software to keep track of personnel data (including contact details, job descriptions, and more), as well as to organize papers, assess the company's structure, and handle vacation and sick time. The HR function may be handled using Jobcart.
        </p>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-xl font-bold my-5">
          What do the benefits of using an HR Software entail?
        </p>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-gray-400 my-5">
          A human resource software is a centralized database that stores all relevant information about workers in one place. Documents can be safely stored, corporate structures can be mapped out, staffing requirements can be anticipated, and updates can be monitored. It is possible to speed up the onboarding process for new employees by using an HR Software to handle the administrative details of the transition from candidate to employee.
        </p>
      </div>
    </div>
  </div>
</section>
<app-lets-grow></app-lets-grow>
