<section class="text-gray-600 body-font relative">
  <div class="mx-auto flex px-5 md:px-20 lg:py-24 md:flex-row flex-col items-center">
    <div class="w-1/2 md:order-last" data-aos="zoom-in-left" data-aos-duration="1500">
      <img class="object-cover object-center rounded" alt="hero" src="/assets/22.png" />
    </div>
    <div
      data-aos="zoom-in-right"
      data-aos-duration="1500"
      class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
    >
      <h1
        data-aos="zoom-in-up"
        data-aos-duration="1500"
        class="title-font lg:text-5xl text-3xl mb-6 font-medium text-primary mt-5 md:mt-20"
      >
        Structured interviews <br class="hidden lg:inline-block" />
        to move faster, <br class="hidden lg:inline-block" />together
      </h1>
      <p data-aos="zoom-in-up" data-aos-duration="1500" class="mb-8 leading-loose">
        Whether you’re a team of one or 100, Jobcart makes it easy to hire the right candidate for every role. Easily
        collaborate with hiring teams to evaluate applicants, gather fair and consistent feedback, check for unconscious
        bias, and decide who’s the best fit, all in one system.
      </p>
      <div data-aos="zoom-in-up" data-aos-duration="1500" class="flex justify-center">
        <button class="btn text-white btn-primary btn-wide">Talk to Us</button>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 lg:py-24 mx-auto">
    <div data-aos="zoom-in-right" data-aos-duration="1500" class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <span class="inline-block h-1 w-10 rounded bg-primary mt-8 mb-6"></span>
      <p class="leading-relaxed text-lg">
        “What Jobcart offered was an applicant tracking system all of our hiring managers could and would engage with.
        Well-designed, easy-to-use and with great collaboration tools.”
      </p>
      <div class="avatar my-5">
        <div class="w-14 rounded-full ring-offset-base-100 ring-offset-2">
          <img src="/assets/testimonial2.png" />
        </div>
      </div>
      <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Jason Lesher</h2>
      <p class="text-gray-500">VP of Talent Acquisition, Navarro</p>
    </div>
  </div>
</section>
<section class="bg-blue-50 text-gray-700 p-5 py-10 md:py-24 md:px-20 my-10">
  <div class="flex flex-col gap-5 md:items-center justify-center">
    <p data-aos="zoom-in-up" data-aos-duration="1500" class="text-lg md:text-4xl lg:text-5xl font-semibold">
      Fair and consistent evaluation
    </p>
    <p data-aos="zoom-in-up" data-aos-duration="1500" class="md:w-4/5 lg:w-2/5 md:mt-5 md:text-center">
      Guide your hiring teams through fair and objective evaluations so you can mitigate bias and move the best
      candidates forward.
    </p>
  </div>
  <div class="flex flex-col md:flex-row justify-center">
    <div class="lg:w-2/3 flex flex-col md:flex-row justify-center mt-20">
      <div class="md:w-1/2 md:order-last">
        <img data-aos="zoom-in-left" data-aos-duration="1500" src="/assets/6-transparent.png" alt="" />
      </div>
      <div class="flex flex-col gap-5 md:w-1/2">
        <svg
          data-aos="zoom-in-right"
          data-aos-duration="1500"
          xmlns="http://www.w3.org/2000/svg"
          width="64"
          height="64"
          viewBox="0 0 64 64"
        >
          <g fill="none" fill-rule="evenodd">
            <path d="M4.5 42v13.5h47V51M4.5 38v1" stroke="#008075"></path>
            <path stroke="#008075" d="M12.5 46V12M51 11.5h8.5v34h-47v-34H21M26 11.5h19"></path>
            <path stroke="#008075" d="M55.5 46v4.5h-47v-35H12"></path>
            <path
              stroke="#02BFD3"
              d="M26.5 23.5h-.4c-.6.1-1.2.3-1.6.7-2.8 2.2-1.3 8.3 2 8.4 3.3.1 4.7-6.2 2-8.4-.5-.4-1-.6-1.6-.7h-.4zM20.8 35.4c.3-1.4 1.2-2.7 2.4-3.6M29.7 31.9c1.2.8 2.1 2.1 2.3 3.6"
            ></path>
            <path
              stroke="#008075"
              d="M39 24.5h15M39 28.5h15M39 32.5h6M48 32.5h-1M26.5 11.5c0 1.1-.9 2-2 2h-2c-1.1 0-2-.9-2-2s.9-2 2-2h2c1.1 0 2 .9 2 2zM47 9.5h2c1.1 0 2 .9 2 2s-.9 2-2 2h-2c-1.1 0-2-.9-2-2s.9-2 2-2zM26.5 19.5a9 9 0 0 1 9 9 9 9 0 0 1-9 9 9 9 0 0 1-9-9 9 9 0 0 1 9-9z"
            ></path>
          </g>
        </svg>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="md:text-xl lg:text-2xl font-semibold">
          Anonymized screening
        </p>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-gray-400">
          Anonymized screening encourages a more inclusive hiring process by mitigating unconscious bias from the start.
          Our native anonymized screening feature focuses on the sourced and applied stages of the hiring process. When
          enabled, anonymized screening hides the following from the Candidate Profile and CV:
        </p>
        <ul data-aos="zoom-in-right" data-aos-duration="1500" class="list-disc ml-10 text-gray-400">
          <li>Candidate name</li>
          <li>Candidate address</li>
          <li>Candidate phone number</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="flex flex-col md:flex-row justify-center">
    <div class="lg:w-2/3 flex flex-col md:flex-row justify-center mt-20">
      <div class="">
        <img
          data-aos="zoom-in-right"
          data-aos-duration="1500"
          src="/assets/7-transparent.png"
          class="md:-ml-20"
          alt=""
        />
      </div>
      <div class="flex flex-col justify-center gap-5 md:w-1/2 lg:pl-10">
        <svg
          data-aos="zoom-in-left"
          data-aos-duration="1500"
          xmlns="http://www.w3.org/2000/svg"
          width="57"
          height="55"
          fill="none"
          viewBox="0 0 57 55"
        >
          <path
            stroke="#008075"
            stroke-miterlimit="10"
            d="M29.18 21v2.47M24.57 27.88h-2.14M33.47 23.27l-1.38 1.51M26.08 30.79l-1.48 1.4M26.08 24.78l-1.77-1.76M47.57 34.16c.262-.469.46-.97.59-1.49a6.379 6.379 0 00-6-8.14 5.93 5.93 0 00-3.7 1.28V11.07H24.59a6.13 6.13 0 001.23-4.44 6.34 6.34 0 00-12.64.69 6.12 6.12 0 001.27 3.75H.5v15a6.259 6.259 0 013.35-1.23 6.37 6.37 0 016.79 6.06 6.291 6.291 0 01-6.34 6.42 6.3 6.3 0 01-3.8-1.25v15h14.42a6.47 6.47 0 01-1.23-3.5 6.37 6.37 0 016-6.74A6.297 6.297 0 0126 47.22a6.51 6.51 0 01-1.24 3.85h13.38"
          ></path>
          <path
            stroke="#02BFD3"
            stroke-miterlimit="10"
            d="M54.85 36.76l-25.6-9.19L39 53.19l3.09-12.81 12.76-3.62z"
          ></path>
        </svg>
        <p data-aos="zoom-in-left" data-aos-duration="1500" class="md:text-xl lg:text-2xl font-semibold">
          Interview kits and scorecards
        </p>
        <p data-aos="zoom-in-left" data-aos-duration="1500" class="text-gray-400">
          When you’re hiring as a team you need accessible, actionable feedback. Create an interview kit for a
          structured interview process and ensure that every candidate is assessed accurately and consistently:
        </p>
        <ul data-aos="zoom-in-left" data-aos-duration="1500" class="list-disc ml-5 text-gray-400">
          <li>All candidates are asked the same questions, in the same order</li>
          <li>Responses are evaluated via a scorecard using a consistent rating scale</li>
          <li>
            The scorecards you create are automatically attached to the appropriate stage of the candidate’s profile,
            accessible by the whole team
          </li>
          <li>Feedback is gathered on the candidate profile, where the team can review and take action</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="flex flex-col md:flex-row justify-center">
    <div class="lg:w-2/3 flex flex-col md:flex-row justify-center mt-20">
      <div class="md:order-last">
        <img
          data-aos="zoom-in-left"
          data-aos-duration="1500"
          src="/assets/10-transparent.png"
          class="md:ml-10"
          alt=""
        />
      </div>
      <div class="flex flex-col justify-center gap-5 md:w-1/2 lg:pl-10">
        <svg
          data-aos="zoom-in-right"
          data-aos-duration="1500"
          xmlns="http://www.w3.org/2000/svg"
          width="64"
          height="64"
          viewBox="0 0 64 64"
        >
          <g fill="none" fill-rule="evenodd">
            <path stroke="#02BFD3" d="M38.206 20.854h5.5v7.5"></path>
            <path
              stroke="#008075"
              d="M15.08 51.164l-7.19 7.19-3.183-3.183 7.19-7.189zM18.339 44.722l-4.85 4.854"
            ></path>
            <path stroke="#02BFD3" d="M42.206 35.854h-12.5v-15.5"></path>
            <path
              stroke="#008075"
              d="M41.249 14.009l1.066-4.465-4.464 1.068zM56.334 38.839l-5.628-2.953-.091 6.355z"
            ></path>
            <g stroke="#008075">
              <path
                d="M59.706 22.354a4.5 4.5 0 1 1-9-.001 4.5 4.5 0 0 1 9 0zM26.013 11.145l-2.232 2.232M23.78 11.145l2.232 2.232M53.71 6.354L51.48 8.586M51.478 6.354l2.233 2.232M45.115 45.665a19.938 19.938 0 0 1-4.18 4.09 19.695 19.695 0 0 1-11.595 3.752c-2.235 0-4.382-.37-6.386-1.053M43.095 51.218a22.164 22.164 0 0 1-13.755 4.759c-1.45 0-2.867-.14-4.24-.404M45.172 49.361a22.288 22.288 0 0 1-1.04.987"
              ></path>
              <path
                d="M44.897 33.72c0 8.594-6.965 15.559-15.557 15.559S13.783 42.314 13.783 33.72c0-8.592 6.965-15.557 15.557-15.557s15.557 6.965 15.557 15.557z"
              ></path>
              <path
                d="M29.34 46.686c-7.148 0-12.965-5.816-12.965-12.965 0-7.148 5.817-12.964 12.965-12.964s12.964 5.816 12.964 12.964c0 7.149-5.816 12.965-12.964 12.965z"
              ></path>
            </g>
          </g>
        </svg>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="md:text-xl lg:text-2xl font-semibold">
          Assessments
        </p>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-gray-400">
          Make objective, data-driven decisions on which candidates proceed forward. Jobcart Assessments help our
          customers hire the right candidates fairly and impartially. With four cognitive tests and a personality test,
          gauge the aptitude of your candidate pool and interview the candidates best fit for the role.
        </p>
        <ul data-aos="zoom-in-right" data-aos-duration="1500" class="list-disc ml-5 text-gray-400">
          <li>Send assessments to candidates directly from the Jobcart platform</li>
          <li>Access results accompanied by predictive job performance insights right on the candidate timeline</li>
          <li>Hiring managers can compare candidate scores, leave feedback, and review insights, all in one place</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="p-5 md:py-24 md:px-20 my-10 text-neutral">
  <div class="flex justify-center">
    <div class="lg:w-2/3 md:flex justify-center items-center">
      <div class="md:w-1/2">
        <img
          data-aos="zoom-in-right"
          data-aos-duration="1500"
          [src]="accordionTab === 1 ? '/assets/8.jpg' : accordionTab === 2 ? '/assets/11.jpg' : '/assets/12.jpg'"
          class="md:-mt-20 md:-ml-20 object-center"
          alt=""
        />
      </div>
      <div class="md:w-1/2">
        <p data-aos="zoom-in-up" data-aos-duration="1500" class="text-4xl font-semibold my-10">
          Keep hiring managers in the know
        </p>
        <p data-aos="zoom-in-up" data-aos-duration="1500" class="text-sm mb-5 text-gray-400">
          Ensure your hiring team knows what’s up, what’s next and what’s left to do. At each login, Jobcart greets
          users with a clear view of where things stand for each job and every candidate. Need to ask a question to a
          teammate? You can @ mention their name for a quick reply, without leaving the system.
        </p>
        <div
          data-aos="zoom-in-up"
          data-aos-duration="1500"
          (click)="accordionTab = 1"
          class="collapse collapse-arrow shadow-md rounded-none px-2"
          [ngClass]="accordionTab === 1 ? 'border-l-2 border-primary' : ''"
        >
          <input type="radio" name="my-accordion-3" checked="checked" />
          <div class="collapse-title text-xl font-medium">2-way calendar syncing</div>
          <div class="collapse-content">
            <p class="text-gray-400">
              Jobcart offers a two-way sync with email accounts like Gmail and Outlook, so any action you take in
              Jobcart automatically appears in your own email, and vice versa. Stop manually forwarding emails and
              switching apps just to reply to a candidate or mark an email as read. Even better, all conversations are
              tracked and posted to the candidate’s timeline for the entire hiring team to reference.
            </p>
          </div>
        </div>
        <div
          data-aos="zoom-in-up"
          data-aos-duration="1500"
          (click)="accordionTab = 2"
          class="collapse collapse-arrow shadow-md my-5 rounded-none px-2"
          [ngClass]="accordionTab === 2 ? 'border-l-2 border-primary' : ''"
        >
          <input type="radio" name="my-accordion-3" />
          <div class="collapse-title text-xl font-medium">Notifications and action items</div>
          <div class="collapse-content">
            <p class="text-gray-400">
              Move quickly to secure the best candidates. Hiring managers can stay up to speed with inbox items, email
              alerts and mobile notifications. With a click, approve new requisitions or offers, review new applicants
              and follow up on internal conversations.
            </p>
          </div>
        </div>
        <div
          data-aos="zoom-in-up"
          data-aos-duration="1500"
          (click)="accordionTab = 3"
          class="collapse collapse-arrow shadow-md rounded-none px-2"
          [ngClass]="accordionTab === 3 ? 'border-l-2 border-primary' : ''"
        >
          <input type="radio" name="my-accordion-3" />
          <div class="collapse-title text-xl font-medium">Hiring team access roles and rights</div>
          <div class="collapse-content">
            <p class="text-gray-400">
              Simplify collaboration with tools that control who sees what, when, and set your hiring teams up for
              success from the start. User roles define which hiring tasks team members should (and can) perform, and
              user permissions ensure they get just the right amount of access to get the job done. Both can be set in
              just a few clicks.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-gray-50 text-gray-700 px-5 py-10 md:py-24 md:px-20 my-10">
  <div class="flex justify-center">
    <div class="lg:w-2/3 md:flex justify-center items-center">
      <div class="md:w-1/2">
        <p data-aos="zoom-in-up" data-aos-duration="1500" class="text-4xl font-semibold my-10">Manage candidates</p>
        <p data-aos="zoom-in-up" data-aos-duration="1500" class="text-sm mb-5 text-gray-400">
          With a candidate database, automatic recordkeeping, and customizable data fields, staying organized and on
          track with hiring is effortless. Jobcart intuitive design means it’s easy for the entire recruiting team to
          get started.
        </p>
        <div
          data-aos="zoom-in-up"
          data-aos-duration="1500"
          (click)="accordion2Tab = 1"
          class="collapse collapse-arrow shadow-md rounded-none px-2"
          [ngClass]="accordion2Tab === 1 ? 'border-l-2 border-primary' : ''"
        >
          <input type="radio" name="my-accordion-3" checked="checked" />
          <div class="collapse-title text-xl font-medium">Candidate database</div>
          <div class="collapse-content">
            <p class="text-gray-400">
              Search, filter and interact with a complete database of your candidates, automatically built to house your
              applicants, passively sourced candidates, referrals and more. Look up candidates based on skills or resume
              details, narrow down the results with custom tagging, and contact the best candidates in bulk.
            </p>
          </div>
        </div>
        <div
          data-aos="zoom-in-up"
          data-aos-duration="1500"
          (click)="accordion2Tab = 2"
          class="collapse collapse-arrow shadow-md my-5 rounded-none px-2"
          [ngClass]="accordion2Tab === 2 ? 'border-l-2 border-primary' : ''"
        >
          <input type="radio" name="my-accordion-3" />
          <div class="collapse-title text-xl font-medium">Custom fields</div>
          <div class="collapse-content">
            <p class="text-gray-400">
              Track key candidate information that’s most important to your own business like start dates, requested
              salary and whatever other data you need. Add profile fields which candidates can complete when they apply,
              or the hiring team can fill out internally. Control access to profile fields so that any sensitive
              information is kept private.
            </p>
          </div>
        </div>
        <div
          data-aos="zoom-in-up"
          data-aos-duration="1500"
          (click)="accordion2Tab = 3"
          class="collapse collapse-arrow shadow-md rounded-none px-2"
          [ngClass]="accordion2Tab === 3 ? 'border-l-2 border-primary' : ''"
        >
          <input type="radio" name="my-accordion-3" />
          <div class="collapse-title text-xl font-medium">Bulk communication to candidates</div>
          <div class="collapse-content">
            <p class="text-gray-400">
              Automated actions let you communicate with applicants in bulk, on your own timeline. Streamline repetitive
              administrative tasks and candidate communications, set up triggers for each stage of the hiring process,
              schedule candidate emails (including delayed DQ), and allow candidates to automatically self-schedule
              meeting times to save recruiters and hiring managers time and effort.
            </p>
          </div>
        </div>
      </div>
      <div class="md:w-1/2">
        <img
          data-aos="zoom-in-right"
          data-aos-duration="1500"
          [src]="accordion2Tab === 1 ? '/assets/8.jpg' : accordionTab === 2 ? '/assets/11.jpg' : '/assets/12.jpg'"
          class="md:ml-20 object-center"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<section class="text-gray-700 px-5 py-10 md:py-24 md:px-20 my-10">
  <div class="flex justify-center">
    <div class="lg:w-2/3 md:flex justify-center items-center">
      <div class="md:w-1/2">
        <img
          data-aos="zoom-in-right"
          data-aos-duration="1500"
          [src]="accordion3Tab === 1 ? '/assets/11.jpg' : '/assets/12.jpg'"
          class="md:-mt-20 md:-ml-20 object-center"
          alt=""
        />
      </div>
      <div class="md:w-1/2">
        <p data-aos="zoom-in-up" data-aos-duration="1500" class="text-4xl font-semibold my-10">Schedule efficiently</p>
        <p data-aos="zoom-in-up" data-aos-duration="1500" class="text-sm mb-5 text-gray-400">
          Spend less time booking (and rebooking) interviews. Tools for self-scheduling, multi-part interviews, event
          landing pages and more enable you to create an improved candidate experience and achieve better interview
          outcomes.
        </p>
        <div
          data-aos="zoom-in-up"
          data-aos-duration="1500"
          (click)="accordion3Tab = 1"
          class="collapse collapse-arrow shadow-md rounded-none px-2"
          [ngClass]="accordion3Tab === 1 ? 'border-l-2 border-primary' : ''"
        >
          <input type="radio" name="my-accordion-3" checked="checked" />
          <div class="collapse-title text-xl font-medium">Self-scheduling</div>
          <div class="collapse-content">
            <p class="text-gray-400">
              Connect your team’s calendars to empower candidates to self-schedule interviews. No unnecessary back and
              forth when it comes to choosing a time - the candidate can see available time slots on the interviewer’s
              schedule and select one that works. And if plans change, you or the candidate can reschedule in seconds.
            </p>
          </div>
        </div>
        <div
          data-aos="zoom-in-up"
          data-aos-duration="1500"
          (click)="accordion3Tab = 2"
          class="collapse collapse-arrow shadow-md my-5 rounded-none px-2"
          [ngClass]="accordion3Tab === 2 ? 'border-l-2 border-primary' : ''"
        >
          <input type="radio" name="my-accordion-3" />
          <div class="collapse-title text-xl font-medium">Landing page</div>
          <div class="collapse-content">
            <p class="text-gray-400">
              Jobcart interface is modern, mobile-optimized and friendly for candidates. Custom landing pages for
              interviews are automatically generated so candidates can see exactly who they’re meeting with, RSVP and
              even get directions to your office.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-green-50 text-gray-700 px-5 py-10 md:py-24 md:px-20 my-10">
  <div class="flex flex-col items-center justify-center">
    <div class="lg:w-2/3 md:flex justify-between items-start">
      <div class="md:order-last md:w-1/2">
        <img src="/assets/12.jpg" alt="" class="md:ml-20" />
      </div>
      <div class="md:w-1/2">
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="text-xl md:text-3xl font-semibold mt-10 md:mt-0">
          Interact on mobile
        </p>
        <p data-aos="zoom-in-right" data-aos-duration="1500" class="mt-8 md:leading-relaxed lg:w-5/6 text-gray-400">
          Empower your hiring teams to get more done in more places with our mobile app. Available for iOS and Android,
          Jobcart top-rated mobile app presents the tasks most relevant to each user, then guides them through one at a
          time until the list is cleared. Candidates to review. Requests to approve. Emails to read. Even new users and
          hirers can jump right in and knock stuff out quickly, whether they’re in the office or on the go.
        </p>
        <div data-aos="zoom-in-right" data-aos-duration="1500" class="mt-5">
          <a href="#" class="text-primary font-semibold">Explore our Mobile APP</a>
        </div>
      </div>
    </div>
  </div>
</section>
<app-lets-grow></app-lets-grow>
