<section class="min-h-[82vh]">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold md:text-center text-gray-900">Contact Us</h2>
    <p class="mb-8 lg:mb-16 font-light md:text-center text-gray-500 sm:text-xl">
      Got a technical issue? Want to send feedback about a beta feature? Need details about our Business plan? Let us
      know.
    </p>
    <form action="#" class="space-y-8">
      <div class="flex flex-col md:flex-row items-center gap-5 justify-between">
        <div class="w-full">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
          <input
            type="email"
            id="email"
            class="bg-gray-50 input border-gray-200 border-2 w-full max-w-x"
            placeholder="name@email.com"
            required
          />
        </div>

        <div class="w-full">
          <label for="subject" class="block mb-2 text-sm font-medium text-gray-900">Phone</label>
          <input
            type="text"
            id="subject"
            class="bg-gray-50 input border-gray-200 border-2 w-full max-w-x"
            placeholder="Enter your phone number"
            required
          />
        </div>
      </div>
      <div class="w-full">
        <label for="subject" class="block mb-2 text-sm font-medium text-gray-900">Subject</label>
        <input
          type="text"
          id="subject"
          class="bg-gray-50 input border-gray-200 border-2 w-full max-w-x"
          placeholder="Let us know how we can help you"
          required
        />
      </div>
      <div class="sm:col-span-2">
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900">Your message</label>
        <textarea
          id="message"
          rows="6"
          class="bg-gray-50 textarea border-gray-200 border-2 w-full max-w-x"
          placeholder="Leave a comment..."
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-wide">Send message</button>
    </form>
  </div>
</section>
