<section class="text-gray-600 body-font relative">
  <div class="mx-auto flex px-5 md:px-24 md:flex-row flex-col items-center">
    <div class="md:w-1/2 md:order-last"> <img alt="hero" src="/assets/21.png" /> </div>
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font lg:text-3xl text-3xl mb-6 font-medium text-primary mt-5 md:mt-20">
        Present yourself professionally and be where your potential candidates are.
      </h1>
      <p class="mb-8 leading-loose">
        The next great hire might be just around the corner, and Jobcart can help you get your name out there. 
        Whether or not they are actively seeking, you will remain top-of-mind.
      </p>
      <div class="flex justify-center">
        <button class="btn btn-primary btn-wide" [routerLink]="'/contact-us'">Talk to Us</button>
      </div>
    </div>
  </div>
</section>




<section class="bg-rose-50 text-gray-700 p-5 py-10 md:py-24 md:px-20 my-10">
  <div class="flex flex-col gap-5 md:items-center justify-center">
    <p class="text-lg md:text-4xl lg:text-5xl font-semibold">
      Streamline your sourcing efforts
    </p>
    <p class="md:w-4/5 lg:w-2/5 md:mt-5 md:text-center text-gray-400">
      In our digital era, Jobcart boosts your online presence and makes you stand out. Whether checking a personal email
      inbox or scrolling through job sites on their couch, target candidates where they are.
    </p>
  </div>
  <div class="flex flex-col md:flex-row justify-center">
    <div class="lg:w-2/2 flex flex-col md:flex-row justify-center mt-20">
      <div class="md:w-1/2 md:order-last">
        <img src="/assets/6-transparent.png" alt="" />
      </div>
      <div class="flex flex-col gap-5 md:w-1/2">
        <svg
          
          
          xmlns="http://www.w3.org/2000/svg"
          width="64"
          height="64"
          viewBox="0 0 64 64"
        >
          <g fill="none" fill-rule="evenodd">
            <path d="M4.5 42v13.5h47V51M4.5 38v1" stroke="#008075"></path>
            <path stroke="#008075" d="M12.5 46V12M51 11.5h8.5v34h-47v-34H21M26 11.5h19"></path>
            <path stroke="#008075" d="M55.5 46v4.5h-47v-35H12"></path>
            <path
              stroke="#02BFD3"
              d="M26.5 23.5h-.4c-.6.1-1.2.3-1.6.7-2.8 2.2-1.3 8.3 2 8.4 3.3.1 4.7-6.2 2-8.4-.5-.4-1-.6-1.6-.7h-.4zM20.8 35.4c.3-1.4 1.2-2.7 2.4-3.6M29.7 31.9c1.2.8 2.1 2.1 2.3 3.6"
            ></path>
            <path
              stroke="#008075"
              d="M39 24.5h15M39 28.5h15M39 32.5h6M48 32.5h-1M26.5 11.5c0 1.1-.9 2-2 2h-2c-1.1 0-2-.9-2-2s.9-2 2-2h2c1.1 0 2 .9 2 2zM47 9.5h2c1.1 0 2 .9 2 2s-.9 2-2 2h-2c-1.1 0-2-.9-2-2s.9-2 2-2zM26.5 19.5a9 9 0 0 1 9 9 9 9 0 0 1-9 9 9 9 0 0 1-9-9 9 9 0 0 1 9-9z"
            ></path>
          </g>
        </svg>
        <p class="md:text-xl lg:text-2xl font-semibold">
          AI-based recruiting
        </p>
        <p class="text-gray-400">
          At the center of our most powerful sourcing technologies is AI Recruiter. It leverages our knowledge from
          hosting 160m candidates in 1.5 million jobs to make your next hire easier. A brainchild of our data science
          team, it’s been in development since 2017 - and it’s only getting better. AI Recruiter harnesses the power of
          publicly available information to bring you:
        </p>
      </div>
    </div>
  </div>

  <div class="flex flex-col md:flex-row justify-center">
    <div class="lg:w-2/2 flex flex-col md:flex-row justify-center mt-20">
      <div class="md:order-last">
        <img src="/assets/10-transparent.png" class="md:ml-10" alt="" />
      </div>
      <div class="flex flex-col justify-center gap-5 md:w-1/2 lg:pl-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="64"
          height="64"
          viewBox="0 0 64 64">
          <g fill="none" fill-rule="evenodd">
            <path stroke="#02BFD3" d="M38.206 20.854h5.5v7.5"></path>
            <path
              stroke="#008075"
              d="M15.08 51.164l-7.19 7.19-3.183-3.183 7.19-7.189zM18.339 44.722l-4.85 4.854"
            ></path>
            <path stroke="#02BFD3" d="M42.206 35.854h-12.5v-15.5"></path>
            <path
              stroke="#008075"
              d="M41.249 14.009l1.066-4.465-4.464 1.068zM56.334 38.839l-5.628-2.953-.091 6.355z"
            ></path>
            <g stroke="#008075">
              <path
                d="M59.706 22.354a4.5 4.5 0 1 1-9-.001 4.5 4.5 0 0 1 9 0zM26.013 11.145l-2.232 2.232M23.78 11.145l2.232 2.232M53.71 6.354L51.48 8.586M51.478 6.354l2.233 2.232M45.115 45.665a19.938 19.938 0 0 1-4.18 4.09 19.695 19.695 0 0 1-11.595 3.752c-2.235 0-4.382-.37-6.386-1.053M43.095 51.218a22.164 22.164 0 0 1-13.755 4.759c-1.45 0-2.867-.14-4.24-.404M45.172 49.361a22.288 22.288 0 0 1-1.04.987"
              ></path>
              <path
                d="M44.897 33.72c0 8.594-6.965 15.559-15.557 15.559S13.783 42.314 13.783 33.72c0-8.592 6.965-15.557 15.557-15.557s15.557 6.965 15.557 15.557z"
              ></path>
              <path
                d="M29.34 46.686c-7.148 0-12.965-5.816-12.965-12.965 0-7.148 5.817-12.964 12.965-12.964s12.964 5.816 12.964 12.964c0 7.149-5.816 12.965-12.964 12.965z"
              ></path>
            </g>
          </g>
        </svg>
        <p class="md:text-xl lg:text-2xl font-semibold">
          Skill-based Boolean search
        </p>
        <p class="text-gray-400">
          Our passive candidate search gives you access to the internet's full potential if you are a niche recruiter seeking for a very specific set of abilities. If you want to contact an Engineer or Developer, you probably won't receive a response from them on LinkedIn, therefore why not simply go to their inbox instead? By collecting data from a variety of sources, you'll get detailed profiles and reliable contact information for every passive applicant.
        </p>
      </div>
    </div>
  </div>
</section>



<!--
<section class="p-5 md:py-24 md:px-20 my-10 text-neutral">
  <div class="flex justify-center">
    <div class="lg:w-2/2 md:flex justify-center items-center">
      <div class="md:w-1/2">
        <img 
          [src]="accordionTab === 1 ? '/assets/8.jpg' : accordionTab === 2 ? '/assets/11.jpg' : '/assets/12.jpg'"
          class="md:-mt-20 md:-ml-20 object-center" alt="" />
      </div>
      <div class="md:w-1/2">
        <p class="text-3xl font-semibold my-10">
          Career webpage creator
        </p>
        <div (click)="accordionTab = 1" class="collapse collapse-arrow shadow-md rounded-none px-2"
          [ngClass]="accordionTab === 1 ? 'border-l-2 border-primary' : ''">
          <input type="radio" name="my-accordion-3" checked="checked" />
          <div class="collapse-title text-xl font-medium">Careers page builder</div>
          <div class="collapse-content">
            <p class="text-gray-400">
              Don't bother the IT department with the creation or maintenance of the careers page. Jobcart makes it easy to build a high-quality careers web page that highlights your company's identity and available positions with zero coding – just a few drags, drops. Mobile optimization and auto-filling apps make it simple to win over your next prospect.
            </p>
          </div>
        </div>
        <div (click)="accordionTab = 2" class="collapse collapse-arrow shadow-md my-5 rounded-none px-2"
          [ngClass]="accordionTab === 2 ? 'border-l-2 border-primary' : ''" >
          <input type="radio" name="my-accordion-3" />
          <div class="collapse-title text-xl font-medium">Post to 100+ job sites with one click</div>
          <div class="collapse-content">
            <p class="text-gray-400">
              Get your job posting seen by millions of potential candidates. Just one click does it all. You can be certain that your job posting will be seen by potential candidates everywhere they go for employment courtesy of Jobcart's automated posting to 200+ job sites. We'll take applications as they come in, sort them, and put them to your Jobcart pipeline. That way, you won't have to go to hundreds of different sites to examine applicants for one position.
            </p>
          </div>
        </div>
        <div (click)="accordionTab = 3"
          class="collapse collapse-arrow shadow-md rounded-none px-2"
          [ngClass]="accordionTab === 3 ? 'border-l-2 border-primary' : ''" >
          <input type="radio" name="my-accordion-3" />
          <div class="collapse-title text-xl font-medium">Quick sharing on social media</div>
          <div class="collapse-content">
            <p class="text-gray-400">
              Your own social media channels may be a significant source of potential new hires. Facilitate the sharing of job openings on social media by making it a standard procedure.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->





<section class="text-gray-700 px-5">

  <div class="flex flex-col items-center justify-center">
    <div class="lg:w-2/3 md:flex justify-between items-start">
      <div class="md:order-last md:w-1/2">
        <img src="/assets/8.jpg" alt="" class="md:ml-20" />
      </div>
      <div class="md:w-1/2">
        <p class="text-xl md:text-3xl font-semibold mt-10 md:mt-0">
          Manage candidates
        </p>
        <p class="mt-8 md:leading-relaxed lg:w-5/6 text-gray-400">
          With a candidate database, automatic recordkeeping, and customizable data fields, staying organized and on
          track with hiring is effortless. Jobcart intuitive design means it’s easy for the entire recruiting team to
          get started.
        </p>
      </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center">
      <div class="lg:w-2/3 flex flex-col md:flex-row justify-center">
        <div class="">
          <img
            data-aos="zoom-in-right"
            data-aos-duration="1500"
            src="/assets/7-transparent.png"
            class="md:-ml-20"
            alt=""
          />
        </div>
        <div class="flex flex-col justify-center gap-5 md:w-1/2 lg:pl-10">
          <p class="md:text-xl lg:text-2xl font-semibold">
            Candidate database
          </p>
          <p class="text-gray-400">
            Search, filter and interact with a complete database of your candidates, automatically built to house your
              applicants, passively sourced candidates, referrals and more. Look up candidates based on skills or resume
              details, narrow down the results with custom tagging, and contact the best candidates in bulk.
          </p>
        </div>
      </div>
    </div>
    
    <div class="lg:w-2/3 md:flex justify-between items-start mt-20">
      <div class="md:order-last md:w-1/2">
        <img src="/assets/11.jpg" alt="" class="md:ml-20" />
      </div>
      <div class="md:w-1/2">
        <p class="text-xl md:text-3xl font-semibold mt-10 md:mt-0">
          Custom fields
        </p>
        <p class="mt-8 md:leading-relaxed lg:w-5/6 text-gray-400">
          Track key candidate information that’s most important to your own business like start dates, requested
          salary and whatever other data you need. Add profile fields which candidates can complete when they apply,
          or the hiring team can fill out internally. Control access to profile fields so that any sensitive
          information is kept private.
        </p>
      </div>
    </div>
  </div>

</section>






<section class="bg-blue-50 text-neutral px-5 py-10 md:py-24 md:px-20 my-10">
  <div class="flex flex-col items-center justify-center">
    <div class="lg:w-2/2 md:flex justify-between items-start">
      <div class="md:order-last md:w-1/2">
        <img src="/assets/9.jpg" alt="" class="md:ml-20" />
      </div>
      <div class="md:w-1/2">
        <p class="text-xl md:text-3xl font-semibold mt-10 md:mt-0">
          Get others engaged
        </p>
        <p class="mt-8 md:leading-loose lg:w-5/6 text-gray-400">
          Make it easier for others to assist you. The advanced referral system uses current staff and their personal networks to source and monitor your next great hiring, all tracked on one internal platform. To easily coordinate with outside recruiters and measure their effectiveness, invite them to use Jobcart.
        </p>

        <div class="hidden lg:block">
          <p class="my-10 text-lg md:text-xl font-semibold">
            Innovative employee referral system
          </p>
          <div class="my-5 md:flex items-start gap-4">
            <img src="/assets/icons/icon1.svg" alt="" />
            <div>
              <p class="text-md font-semibold">
                In-house apps
              </p>
              <p class="text-gray-400">
                Rather than searching externally for qualified candidates, you can put together your own internal application to alert employees of open positions. Internal jobs may now be run in the same way as external ones. They are given the opportunity to develop. It's a financial and time-saving win for you. In this situation, everyone prospers.
              </p>
            </div>
          </div>
          <div class="my-5 md:flex items-start gap-4">
            <img src="/assets/icons/icon2.svg" alt="" />
            <div>
              <p class="text-md font-semibold">
                Let's unite & Expand
              </p>
              <p class="text-gray-400">
                Try out our whole recruitment system risk-free for 15 days, no credit card required. One stop centralized platform for job advertising, candidate acquisition, and application management.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:hidden">
      <p class="my-10 text-lg md:text-xl font-semibold">Triple your referrals and promote your own</p>
      <div class="my-5 md:flex items-start gap-4">
        <img src="/assets/icons/icon1.svg" alt="" />
        <div>
          <p class="text-md font-semibold">
            Engaging referral platform for employees
          </p>
          <p class="text-gray-400">
            It’s easy for employees, and easier for you. We’ll notify employees of new openings automatically, and give
            them unique sharing links so they can share your jobs with their networks. With their own reports, employees
            can track their referrals and view any rewards you’re offering.
          </p>
        </div>
      </div>
      <div class="my-5 md:flex items-start gap-4">
        <img src="/assets/icons/icon2.svg" alt="" />
        <div>
          <p class="text-md font-semibold">Internal applications</p>
          <p >
            Create your own internal application and automatically notify your employees about new jobs that you’d like
            to fill from within. Your internal jobs can now follow the same process as external jobs. They get a chance
            to grow. You save time and money. Everybody wins.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>




<app-lets-grow></app-lets-grow>