<section class="text-gray-600 body-font relative">
    <div class="mx-auto flex px-5 md:px-24 md:flex-row flex-col items-center">
        <div class="md:w-1/2 md:order-last"><img alt="hero" src="/assets/16.jpg" /></div>
        <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font text-3xl mb-6 text-primary mt-5 md:mt-20">
            From Short-Term to Long-Term
        </h1>
        <p class="mb-8 leading-loose">
            <b>Advantages in adaptability, economy, and safety.</b><br/>
            Find the perfect candidate for the position, give them a chance to prove themselves on the job, and then easily convert them to a full-time worker.
        </p>
        <div class="flex justify-center">
            <button class="btn btn-primary btn-wide" [routerLink]="'/contact-us'">Talk to Us</button>
        </div>
      </div>
    </div>
</section>



 


<section class="bg-red-50 text-gray-700 px-5 py-10 md:py-24 md:px-20 my-10">
<div class="flex flex-col items-center justify-center">
    <div class="lg:w-2/2 md:flex justify-between items-start">
        <div class="md:w-1/2">
            <img class="object-cover object-center rounded" alt="hero" src="/assets/13-transparent.png" style="padding-right:30px;" />
        </div>
        <div class="md:w-1/2">
            <p class="text-xl md:text-3xl font-semibold mt-10 md:mt-0">
                Let Us Assist You in Temporarily Staffing Your Ideal Workforce
            </p>
            <p class="text-gray-400 my-5">
                Find the best candidates for available roles with our temporary-to-permanent employment solution.
            </p>
            <p class="text-gray-400 my-5">
                Before making a final hiring choice and bringing someone on full-time, find out whether the two of you are a good fit.
            </p>
            <p class="text-gray-400 my-5">
                Make sure you're employing the best possible personnel for your open full-time positions, and you'll save money.
            </p>
            <p class="text-gray-400 my-5">
                Until you're ready to convert permanent employees, you can make use of all of our temporary staffing services with our temp-to-perm solution.
            </p>
            <p class="text-gray-400 my-5">
                Reduce employee turnover by finding and employing people who mesh well with your company's culture.
            </p>
            <p class="text-gray-400 my-5">
                Raise the rate of staff retention across the board.
            </p>
        </div>
    </div>
</div>
</section>



 
 
<app-lets-grow></app-lets-grow>  