<section class="text-gray-600 body-font relative">
    <div class="mx-auto flex px-4 md:px-24 md:flex-row flex-col items-center">
        <div class="md:w-1/2 md:order-last"><img alt="hero" src="/assets/21.png" /></div>
        <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font lg:text-2xl text-3xl mb-6 font-medium text-primary mt-5 md:mt-20">
                AI for improved, quicker placements
            </h1>
            <p class="mb-8 leading-loose">
                <b>Instant Placement of Qualified Candidates.</b><br/>
                JobCart intelligently compiles profile information from applicants to identify the best match.
            </p>
            <div class="flex justify-center">
                <button class="btn btn-primary btn-wide" [routerLink]="'/contact-us'">Talk to Us</button>
            </div>
        </div>
    </div>
</section>


  
<section class="bg-rose-50 text-gray-700 p-5 py-10 md:py-10 md:px-20 my-10">
    <div class="flex flex-col gap-5 md:items-center justify-center">
    <p class="text-lg md:text-4xl lg:text-4xl font-semibold">
        The Quickest Approach to Hiring for All Positions
    </p>
    <p class="md:w-4/5 lg:w-2/2 md:mt-5 md:text-center text-gray-400">
        Continual, community-based recruiting provides ready access to filling temporary positions.
        The JobCart mobile app instantly prepares and connects applicants.
        Client demands are automatically matched with candidate qualities to discover the correct fit quickly.
    </p>
    </div>
    <div class="flex flex-col md:flex-row justify-center">
    <div class="lg:w-2/3 flex flex-col md:flex-row justify-center mt-20">
        <div class="md:w-1/2 md:order-last">
        <img src="/assets/6-transparent.png" alt="" />
        </div>
        <div class="flex flex-col gap-5 md:w-1/2">
        <p  class="text-gray-400">
            We increase our clients' visibility as an employer in the communities they serve and help them make more rapid, high-quality hires.
            Intelligently compiles job applicants' credentials, salary requirements, availability, and shift choices, as well as their commuting times and previous work history.
        </p>
        </div>
    </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center">
    <div class="lg:w-2/3 flex flex-col md:flex-row justify-center mt-20">
        <div class="">
        <img src="/assets/7-transparent.png" class="md:-ml-20" alt="" />
        </div>
        <div class="flex flex-col justify-center gap-5 md:w-1/2 lg:pl-10">
        <p class="md:text-xl lg:text-2xl font-semibold">
            Local communities help businesses grow and become stronger.
        </p>
        <p class="text-gray-400">
            Long commutes are the main reason why people quit their jobs.
            By integrating Google Maps, you can get fast information about your journey.
            Before taking a job, candidates can find out about public transportation in their area.
            Our predictive-AI system predicts the likelihood that a candidate will leave.
        </p>
        </div>
    </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center">
    <div class="lg:w-2/3 flex flex-col md:flex-row justify-center mt-20">
        <div class="md:order-last">
        <img src="/assets/10-transparent.png" class="md:ml-10" alt="" />
        </div>
        <div class="flex flex-col justify-center gap-5 md:w-1/2 lg:pl-10">
        
        <p  class="md:text-xl lg:text-2xl font-semibold">
            Video Presentations and Biographies
        </p>
        <p  class="text-gray-400">
            Use Quick Videos to Communicate with Applicants
            The saying, "Seeing is Believing," is true in this case. The JobCart app allows prospective employers to examine video resumes and profile videos created by applicants before making a final hiring decision.
        </p>
        </div>
    </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center">
        <div class="lg:w-2/3 flex flex-col md:flex-row justify-center mt-20">
        <div class="">
            <img src="/assets/7-transparent.png" class="md:-ml-20" alt="" />
        </div>
        <div class="flex flex-col justify-center gap-5 md:w-1/2 lg:pl-10">
            <p class="md:text-xl lg:text-2xl font-semibold">
                Checking of Criminal Records and Proof of Identity
            </p>
            <p class="text-gray-400">
                Do Your Research Before Making A Hiring Decision.
                Fast and thorough criminal background checks help to establish a high-quality, job-ready staff while avoiding recruiting delays.                
            </p>
        </div>
        </div>
    </div>
</section>





<section class="text-gray-700 p-5">

    <div class="flex flex-col md:flex-row justify-center">
    <div class="lg:w-2/3 flex flex-col md:flex-row justify-center">
        <div class="md:w-1/2 md:order-last"> <img src="/assets/8.jpg" alt="" /> </div>
        <div class="flex flex-col gap-5 md:w-1/2">
        <p class="md:text-xl lg:text-2xl font-semibold">Validation of Identity and Conduct of Background Checks</p>
        <p class="text-gray-400">
            Make sure applicants are who they say they are by having them submit a selfie taken with a camera and a copy of their government-issued photo ID through a secure, encrypted connection.
        </p>
        </div>
    </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center">
    <div class="lg:w-2/3 flex flex-col md:flex-row justify-center mt-20">
        <div class="md:order-last">
        <img src="/assets/10-transparent.png" class="md:ml-10" alt="" />
        </div>
        <div class="flex flex-col justify-center gap-5 md:w-1/2 lg:pl-10">
        
        <p class="md:text-xl lg:text-2xl font-semibold"> Health and Safety in the Workplace </p>
        <p class="text-gray-400">
            Solid Health and Safety Procedures for a Solid Workplace.
            Make it easy for job-seekers to get the education they need to be safe on the job and help eliminate the causes of sickness and injury on the job.                
        </p>
        </div>
    </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center">
        <div class="lg:w-2/3 flex flex-col md:flex-row justify-center">
        <div class="">
            <img src="/assets/7-transparent.png" class="md:-ml-20" alt="" />
        </div>
        <div class="flex flex-col justify-center gap-5 md:w-1/2 lg:pl-10">
            <p class="md:text-xl lg:text-2xl font-semibold">
                In-Demand Safety Education
            </p>
            <p class="text-gray-400">
                Facilitates a safer environment for employees. Increases efficiency in the business setting. Raise productivity and employee satisfaction. Facilitates better risk and compliance administration.
            </p>
        </div>
        </div>
    </div>

</section>



<app-lets-grow></app-lets-grow>  