<section class="text-gray-600 body-font relative">
    <div class="mx-auto flex px-5 md:px-24 md:flex-row flex-col items-center">
        <div class="md:w-1/2 md:order-last"><img alt="hero" src="/assets/14.jpg" /></div>
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font text-3xl mb-6 text-primary mt-5 md:mt-20">
            Vendor Management System
        </h1>
        <p  class="mb-8 leading-loose">
            <b>Audit your vendor’s hiring process anytime</b><br/>
            Our VMS gives you the access to timesheets of the scheduled workforce. Manage discrepancies and view reports. Send and track staffing requests.
        </p>
        <div   class="flex justify-center">
            <button class="btn btn-primary btn-wide" [routerLink]="'/contact-us'">Talk to Us</button>
        </div>
      </div>
    </div>
</section>



 


<section class="text-gray-700 px-5 py-10 md:py-24 md:px-20 my-10">
<div class="flex flex-col items-center justify-center">
    <div class="lg:w-2/2 md:flex justify-between items-start">
        <div class="md:w-1/2">
            <img class="object-cover object-center rounded" alt="hero" src="/assets/15.jpg" />
        </div>
        <div class="md:w-1/2">
            <p  class="text-xl md:text-3xl font-semibold mt-10 md:mt-0">
                VMS, or vendor management system, is a cloud-based software platform that solves a common problem for many organizations
            </p>
            <p  class="text-gray-400 my-5">
                Centralize your third-party inventory 
            </p>
            <p  class="text-gray-400 my-5">
                Improve accountability and automate risk mitigation 
            </p>
            <p  class="text-gray-400 my-5">
                Continuously monitor third-party performance 
            </p>
            <p  class="text-gray-400 my-5">
                Track key metrics and maintain records for compliance 
            </p>
        </div>
    </div>
</div>
</section>



 
 
<app-lets-grow></app-lets-grow>  