<section class="text-gray-600 body-font relative">
  <div class="mx-auto flex px-4 md:px-24 md:flex-row flex-col items-center">
    <div class="md:w-1/2 md:order-last">
      <img alt="hero" src="/assets/23.png" />
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font lg:text-5xl text-3xl mb-6 font-medium text-primary mt-5 md:mt-20">
        Large-Scale Hiring
      </h1>
      <p class="mb-8 leading-loose">
        Accelerate your progress with the help of a platform that streamlines your administrative tasks. Jobcart streamlines the whole hiring procedure from request to offer letter by computerising formerly manual processes like approvals, reporting, compliance management, and more.
      </p>
      <div class="flex justify-center">
        <button class="btn btn-primary btn-wide" [routerLink]="'/contact-us'">Talk to Us</button>
      </div>
    </div>
  </div>
</section>





<section class="bg-gray-50 text-gray-700 px-5 py-10 md:py-24 md:px-20 my-10">
  <div class="flex justify-center">
    <div class="lg:w-2/3 md:flex justify-center items-center">
      <div class="md:w-1/2">
        <p  data-aos-duration="1500" class="text-3xl font-semibold my-10">
          Simplify your application tracking system
        </p>
        <p  data-aos-duration="1500" class="text-sm mb-5 text-gray-400">
          Increase the visibility of your jobs by partnering with international job boards. 
          Here you can search candidate profiles by industry, experience or location.
        </p>
      </div>
      <div class="md:w-1/2">
        <img
          
        
          [src]="accordionTab === 1 ? '/assets/8.jpg' : accordionTab === 2 ? '/assets/11.jpg' : '/assets/12.jpg'"
          class="md:ml-20 object-center"
          alt=""
        />
      </div>
    </div>
  </div>
</section>






<section class="text-gray-700 px-5 py-10">

  <div class="flex flex-col items-center justify-center">
    <div class="lg:w-2/3 md:flex justify-between items-start">
      <div class="md:order-last md:w-1/2">
        <img src="/assets/12.jpg" alt="" class="md:ml-20" />
      </div>
      <div class="md:w-1/2">
        <p class="text-xl md:text-3xl font-semibold mt-10 md:mt-0">
          Track performance and recruiting reports and analytics
        </p>
        <p class="mt-8 md:leading-relaxed lg:w-5/6 text-gray-400">
          Ensure your hiring team knows what’s up, what’s next and what’s left to do. At each login, Jobcart greets
          users with a clear view of where things stand for each job and every candidate. Need to ask a question to a
          teammate? You can @ mention their name for a quick reply, without leaving the system.
        </p>
      </div>
    </div>


    <div class="lg:w-2/3 md:flex justify-between items-start">
      <div class="md:order-last md:w-1/2">
        <img src="/assets/11.jpg" alt="" class="md:ml-20" />
      </div>
      <div class="md:w-1/2">
        <p class="text-xl md:text-3xl font-semibold mt-10 md:mt-0">
          Advanced and custom reporting
        </p>
        <p class="mt-8 md:leading-relaxed lg:w-5/6 text-gray-400">
          Dig deeper to answer even your most complex questions. Need more robust analytics? Jobcart provides access
          to your raw recruiting data via Amazon Redshift and integrates with preferred business intelligence tools,
          including Tableau so you can create advanced dashboards, measure custom KPIs and more.
        </p>
      </div>
    </div>
  </div>
 
</section>






<section class="bg-blue-50 text-gray-700 p-5 py-10 md:py-24 md:px-20 my-10">
  <div class="flex flex-col md:flex-row justify-center">
    <div class="lg:w-2/2 flex flex-col md:flex-row justify-center mt-20">
      <div class="md:w-1/2 md:order-last">
        <img src="/assets/13-transparent.png" alt="" />
      </div>
      <div class="flex flex-col gap-5 md:w-1/2">
        <p  data-aos-duration="1500" class="md:text-xl lg:text-3xl font-semibold">
          Control and display your compliance
        </p>
        <p  data-aos-duration="1500" class="text-gray-400">
          Managing compliance becomes increasingly challenging when new laws pertaining to data privacy and employment are enacted. 
          Jobcart's automatic tools and reports take the hassle out of compliance, no matter where you're recruiting, with regard to 
          local, national, and international legislation.
        </p>
      </div>
    </div>
  </div>

  <!--<div class="flex flex-col md:flex-row justify-center">
    <div class="lg:w-2/3 flex flex-col md:flex-row justify-center mt-20">
      <div class="">
        <img
          
        
          src="/assets/1.jpeg"
          class="md:-ml-20"
          alt=""
        />
      </div>
      <div class="flex flex-col justify-center gap-5 md:w-1/2 lg:pl-10">
        <p class="md:text-xl lg:text-5xl font-semibold">
          Sync up your gadgets
        </p>
        <p class="text-gray-400">
          The most well-known and widely used HR and recruitment platforms are our partners. This means you don't have to leave Jobcart to do a thorough background check, complete an employee onboarding, or access your human resource information.
        </p>
      </div>
    </div>
  </div>-->

  <div class="flex flex-col md:flex-row justify-center">
    <div class="flex flex-col md:flex-row justify-center mt-20">
      <div class="flex flex-col justify-center gap-5 md:w-1/1 lg:pl-10">
        <p class="md:text-xl lg:text-3xl font-semibold">
          Sync up your gadgets
        </p>
        <p class="text-gray-400">
          The most well-known and widely used HR and recruitment platforms are our partners. This means you don't have to leave Jobcart to do a thorough background check, complete an employee onboarding, or access your human resource information.
        </p>
      </div>
    </div>
  </div>

</section>

<app-lets-grow></app-lets-grow>