<section class="relative z-20 overflow-hidden bg-white pt-20 pb-12 lg:pt-[120px] lg:pb-[90px] text-neutral">
    <div class="container mx-auto">
      <div class="-mx-4 flex flex-wrap">
        <div class="w-full px-12">
            <div class="mainDiv">
                <h4>Cookie Policy</h4>
                Last Updated: November 1, 2022<br/>
                By using or accessing Jobcart website, you agree to Jobcart’s use of Cookies as outlined below. 
                For the purposes of this Cookie Policy, “Jobcart”, “we” or “us” means Jobcart, Inc. if you are located in the United States, Jobcart Staff LLC if you are using Jobcart Staff in the United States.
                All references to Job Seeker, Employer and Personal Data are defined as provided for in our Privacy Policy. 
                <br/><br/>
                
                <h5>1. Introduction: What is a cookie?</h5>
                This Cookie Policy is intended to clarify when and why cookies may be delivered to site visitors. Cookies are text-only data files that a website transmits to the hard disk or other website-browsing equipment of a user for record-keeping reasons. Cookies enable the website to remember crucial information that will facilitate your usage of the website. A cookie generally includes the domain name from which it originated, the cookie's "lifetime," and a randomly generated unique number or other value. Certain cookies will be used on the website regardless of whether or not you are signed in.
                Session cookies are transient cookies that stay in your browser's cookie file until you close your browser. Persistent Cookies persist in your browser's cookie storage for much longer (though how long will depend on the lifetime of the specific cookie). We monitor the overall number of site visits using session cookies. In order to personalize your experience and remember your computer when you return to the site, we may also deploy cookies. In such cases, we may connect Personal Data with a cookie file.
                <br/><br/>
            
                <h5>2. How We Use Cookies</h5>
                We use cookies, web beacons, and other similar technologies, including those from third-party partners like Google and Facebook, for measurement services, improved ad targeting, and marketing reasons. This occurs via the website, when you download or install a Jobcart application, and in some of our adverts on third-party websites. These cookies, web beacons, and other similar technologies enable us to show our promotional content on other sites you visit on the Internet and link you with more Employers. Additionally, we may share information about your activities on the site with third parties (including operators of third-party websites and/or social networking sites) in order to display you tailored advertising and other personalized content.
                Cookies, web beacons, and other similar technologies are also used to support the Jobcart Targeted Ads Program and other ads, allowing us to detect which adverts users have seen and how often they have seen a given advertisement. In order to help Employers understand how people interact with our advertisements about their Job Listings, we may also allow Employers who take part in our Jobcart Targeted Ads Program to insert cookies, web beacons, and other comparable technologies in the advertisements we serve on our website and on websites operated by third parties.
                The advertising we display on our Site and on third-party websites may also include cookies, web beacons, and other similar technologies that are available to employers that sign up for our Jobcart Targeted Ads Program. This will make it easier for these employers to understand how job seekers respond to our job listing advertisements.
                Additionally, we could use cookies, web beacons, and other similar technologies on the website to identify and let employers know which visitors viewed a certain job listing, company page, hiring event, or other advertisement that features the employer.
                <br/><br/>
            
                <h5>Purposes</h5>
                How We Use Cookies<br/>
                Analytical Purposes<br/><br/>
                Jobcart and its affiliates (as defined in the Privacy Statement) utilize cookies to analyze user behaviour in an effort to enhance the Site and the websites of Jobcart affiliates. Cookies enable us to examine broad patterns, such as the typical frequency of user job searches. Such an examination might provide insights into how to enhance the website's functionality and user experience.
                Your Preferences & User Experience<br/>
                Jobcart and its affiliates use cookies to collect information about users, including browser type, server, language choice, and country setting, in order to store user preferences on our site and provide a more consistent and easy user experience. For instance, we may save your past searches in a cookie so that you may easily repeat them the next time you visit our site, or so that we can suggest profile information when you establish an account and fill out a resume on the site. (e.g. Jobcart Resume). 
                <br/><br/>
            
                In addition, we utilize cookies to keep you signed in when you regularly visit our website. In order to present you with the most relevant search results, we may additionally utilize your IP address to establish your geographic location at the city or zip code level.
                Offer Measuring Services and Improved Targeted Ads, and Marketing
                We utilize cookies, web beacons, and other similar technologies from third-party partners like Google and Beeswax for measurement services, ad targeting, and marketing. This occurs when you visit our website and download or install a Jobcart application. These cookies, web beacons, and other similar technologies enable us to show our promotional content (which may include a specific Job Listing or Company Page accessible on the Site) on other websites you visit on the Internet.
                <br/><br/>
            
                These technologies may also be used by our third-party advertising partners to recognize your browsing preferences over time and across multiple websites in order to serve targeted adverts and other personalised content.
                <br/><br/>
            
                Jobcart may also share information about your activities on the site with other parties (such as the operators of third-party websites) in order to display targeted advertising and other personalized content. Additionally, cookies are used to conduct the Jobcart Targeted Ads Program. In connection with this Program and other advertisements, we use cookies, web beacons, and other similar technologies, including those from third-party partners, to determine which advertisements users have seen, how often they have seen a particular advertisement, and on which website a particular advertisement appeared.
                <br/><br/>
            
                You have the right to object to the processing of your Personal Data for marketing purposes based on a legitimate interest. To opt out of the gathering and use of information for ad targeting, or to exercise any other rights, please refer to our Privacy Statement for instructions.
                <br/><br/>
                <b>Referral Tracking</b><br/>
                We associate user activity with the third party website that referred the user to our Site or with the user activity that Jobcart referred to a third party website by using cookies, web beacons, and other similar technologies, including those from third party partners. These technologies may come from Jobcart or another third party. Some of these third party websites are partner websites, which means that they get credit for the activity of users that they direct to our site, and they also give us credit for the activity of users who are sent to such third party websites.
                <br/><br/>
            
                However, we may use these technologies to share limited information about user activity with Employers. This information could include the number of users who saw a particular Job Posting, Company Page, Hiring Event, or other advertisement on the site, as well as the third party website on which you interacted with a link to a Job Listing, Company Page, or Hiring Event, or other advertisement on the site. Cookies and other similar technologies are also used by us in order to correlate user behavior with the email campaign that was responsible for directing the user to our website in the first place.
                <br/><br/>
                <b>Security Purposes</b><br/>
                Cookies help us prevent certain cyberattacks.<br/>
                With an Eye Towards Testing, Usability, and Enhanced Performance<br/>
                We utilize cookies to guarantee that users have a consistent experience as we do A/B testing on specific sections of our website to enhance our product offerings. Additionally, we utilize cookies to enhance the functionality and dependability of our website.
                Fraud/Spam prevention
                <br/><br/>
                During fraud assessments and investigations, we employ cookies. Sometimes we employ third-party suppliers, such as SiftScience, to monitor cookies and devices, and sometimes we use our own indexes to detect behavior connected to certain cookies.
                <br/>
                Compliance<br/>
                We may employ cookies to anonymize traffic and activity data gathered about our site's use. When you engage with our cookie banner, we may additionally save your cookie consent status in a cookie named OptanonConsent.
                <br/><br/>
            
                <h5>3. What Cookies Do We Use</h5>
                On our website, we utilize first-party and third-party cookies differently to offer you with our numerous goods and services.
                We may let third parties to utilize cookies on our website to aid in the delivery and improvement of our services and your access to them. Our usage of these cookies may vary by market and website. The following list lists all of our third-party cookie supplier partners as of the day this Cookie Policy went into effect. Please visit their website to learn more about their privacy policies:
                <br/>
                Third-Party Cookie Provider
                Third-Party Website
                <br/><br/>
            
                Appcast<br/>
                https://www.appcast.io/
                <br/><br/>
            
                AppsFlyer<br/>
                https://www.appsflyer.com/
                <br/><br/>
            
                Beeswax<br/>
                https://www.beeswax.com/
                <br/><br/>
            
                DoubleClick<br/>
                https://www.google.com/
                <br/><br/>
            
                Facebook<br/>
                https://www.facebook.com/
                <br/><br/>
            
                HotJar<br/>
                https://www.hotjar.com/
                <br/><br/>
            
                HubSpot<br/>
                https://www.hubspot.com/
                <br/><br/>
            
                Infogram<br/>
                https://infogram.com/
                <br/><br/>
            
                iSpot TV<br/>
                https://www.ispot.tv/
                <br/><br/>
            
                LinkedIn<br/>
                https://www.linkedin.com/
                <br/><br/>
            
                Marketo<br/>
                https://www.marketo.com/
                <br/><br/>
            
                Media.net<br/>
                https://www.media.net/
                <br/><br/>
            
                Microsoft (Bing)<br/>
                https://ads.microsoft.com/
                <br/><br/>
                
                MixPanel<br/>
                https://mixpanel.com/
                <br/><br/>
            
                Optimizely<br/>
                https://www.optimizely.com/
                <br/><br/>
            
                Recruitics<br/>
                https://www.recruitics.com/
                <br/><br/>
            
                Scorecard Research<br/>
                https://www.scorecardresearch.com/home.aspx
                <br/><br/>
            
                Sizmek<br/>
                https://www.sizmek.com/
                <br/><br/>
            
                Symphony Talent<br/>
                https://www.symphonytalent.com/
                <br/><br/>
            
                TED<br/>
                https://www.ted.com/
                <br/><br/>
            
                Turn<br/>
                https://www.amobee.com/
                <br/><br/>
                
                Triblio<br/>
                https://www.triblio.com/
                <br/><br/>
            
                Twitter<br/>
                https://twitter.com/
                <br/><br/>
            
                YouTube<br/>
                https://www.youtube.com/
                <br/><br/>
            
                <h5>4. Your Control over Our Use of Cookies</h5>
                In certain markets, the choices for "Cookie Settings" may appear in the table above. Other controls offered to our users include:
                <br/><br/>
            
                <b>Specific Browser and Device Controls</b><br/>
                You may be able to block cookies, like third-party cookies, with your browser. Some browsers also let you look at each cookie and control it on its own. We suggest that you look at your browser's settings and documentation to learn more about the controls it might have and how they work. Please keep in mind that if you delete a cookie that Jobcart uses on our site from your device or browser but don't set your browser or device to block third-party cookies, we may install the same cookie the next time you visit. Some of the services we offer on our site also depend on cookies from other sites. If you block cookies from sites other than ours, you might not be able to use all of the features on our site.
                <br/><br/>
                <b>Targeted Advertising Opt-outs</b><br/>
                You can also choose not to see targeted ads from us or our third-party advertising partners, like Google and Beeswax, by going to the pages they have set up (such as Google’s How Google Uses Information from site or Apps that Use Our Services), or by communicating with them via self-regulatory efforts for digital advertising accessible in the European Union. (Your Online Choices), United States (Your Ad Choices), and Canada (Your Ad Choices). This list may be updated periodically when comparable projects become accessible in additional markets. We welcome you to visit our website for more information on each organization's approach to targeted advertising, lists of collaborating firms, and web user alternatives. Please be aware that any third-party opt-outs may need the usage of a third-party cookie to reflect your selection, and that removing third-party cookies from your browser or device may alter or delete your selection.
                <br/><br/>
            
                <h5>5. Changes To Our Cookie Policy</h5>
                Please see the "Last Updated" legend at the top of the Cookie Policy to discover when it was most recently revised. Any modifications will take effect on the "Date Last Updated" mentioned above. By continuing to use the site or provide us with information after such modifications, you will have accepted the revised Cookie Policy. If Jobcart intends to use Personal Data collected via the site in a manner materially different from that stated at the time of collection, Jobcart will notify users via email and/or by posting a notice on the applicable site for 30 days prior to such use, or by other means to the extent required by law.
            
            </div>
        </div>
      </div>
    </div>
</section>
