<div class="border-t-2 border-gray-100 py-2 bg-black">
  <div class="flex flex-col md:flex-row gap-y-5 items-start md:items-center justify-around px-5 py-5 md:py-0">
    <div class="text-white">
      <!--  <p>Phone: +1-246789211</p> -->
      <p>22 Frederick St, Suite 700, Kitchener ON N2H 6M6</p>
      <p class="hidden md:block text-xs mt-5">Copyright © 2023. All rights reserved</p>
    </div>
    <div class="md:text-center text-white">
      <div class="flex flex-col md:flex-row md:items-center gap-5">
        <a [routerLink]="'about'"> About Us </a>
        <a [routerLink]="'contact-us'"> Contact Us </a>
        <a [routerLink]="'blog'"> Blog </a>
        <a [routerLink]="'cookie-policy'"> Cookie Policy </a>
        <a [routerLink]="'terms-of-service'"> Terms Of Service </a>
      </div>
    </div>
    <div class="mt-5">
      <div class="flex items-center gap-5">
        <a target="_blank" href="https://apps.apple.com/ca/app/jobcart/id1447562870">
          <img src="/assets/app-store.svg" class="border border-white rounded-lg" alt="" />
        </a>
        <a target="_blank" href="https://play.google.com/store/apps/details?id=ca.jobcart.job&hl=en_CA&gl=US">
          <img src="/assets/play-store.png" class="w-28 border border-white rounded-lg" alt="" />
        </a>
      </div>

      <div class="flex gap-10 mt-3">
        <a href="https://www.facebook.com/jobcartai" target="_blank">
          <img src="/assets/facebook.svg" class="w-8 h-8" alt="" />
        </a>
        <a href="javascript:;">
          <img src="/assets/twitter.svg" class="w-8 h-8" alt="" />
        </a>
        <a href="https://linkedin.com/company/jobcartinc" target="_blank">
          <img src="/assets/linkedin.svg" class="w-8 h-8" alt="" />
        </a>
        <a href="https://www.instagram.com/jobcartai/" target="_blank">
          <img src="/assets/instagram.svg" class="w-8 h-8" alt="" />
        </a>
      </div>
      <p class="md:hidden text-xs mt-5 text-white">Copyright © 2023. All rights reserved</p>
    </div>
  </div>
</div>
