<section class="text-gray-600 body-font relative">
    <div class="mx-auto flex px-5 md:px-24 md:flex-row flex-col items-center">
        <div class="md:w-1/2 md:order-last"><img alt="hero" src="/assets/10.jpg" /></div>
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font text-3xl mb-6 text-primary mt-5 md:mt-20"> Improved Methods of Temporary Employment </h1>
        <p class="mb-8 leading-loose">
            <b>Demand-driven, seasonal, and ad hoc.</b><br/>
            Adapting cutting-edge technologies and specialized staffing strategies to meet the demands of individual companies.
        </p>
        <div class="flex justify-center">
            <button class="btn btn-primary btn-wide" [routerLink]="'/contact-us'">Talk to Us</button>
        </div>
      </div>
    </div>
</section>



 


<section class=" bg-rose-50 text-gray-700 px-5 py-10 md:py-5 md:px-20 my-10">
<div class="flex flex-col items-center justify-center">
    <div class="lg:w-2/2 md:flex justify-between items-start">
    
    <div class="md:w-1/1">
        <p   class="text-xl md:text-3xl font-semibold mt-10 md:mt-0">
            Facilitating a Win-Win Cooperative Relationship
        </p>
        <p  class="text-gray-400 my-5">
            In order to provide you with the high-quality service you need, we prioritize cultivating meaningful bonds with our customers and employees.
        </p>
        <p  class="text-gray-400 my-5">
            Streamlining the recruiting process, enhancing client-worker communication, and boosting productivity and accuracy.
        </p>
        <p  class="text-gray-400 my-5">
            A consistent and efficient recruiting procedure can be maintained at a reduced cost with the use of video interviews and online orientation.
        </p>
        <p  class="text-gray-400 my-5">
            Allow customers and employees to communicate in real time, streamlining shift scheduling and customer service.
        </p>
        <p  class="text-gray-400 my-5">
            Contribute to mistake minimization, heightened openness, and greater customer satisfaction. 
            Taking advantage of the multiplier impact of networking at the neighborhood level by giving JobCart Community employers and job seekers yet another way to meet and talk shop.
        </p>
    </div>
    </div>
</div>
</section>



 


<section class="text-gray-700 p-5 py-10 md:px-20 my-10">
    
    <div class="flex flex-col md:flex-row justify-center">
        <div class="lg:w-2/3 flex flex-col md:flex-row justify-center mt-20 gap-x-20">
        <div class="md:w-1/2 flex flex-col items-center">
            <img src="/assets/icons/icon3.svg" alt="" />
            <p  class="text-xl font-semibold">Full-Cycle Hiring</p>
        </div>
        <div class="md:w-1/2 flex flex-col items-center">
            <img src="/assets/icons/icon1.svg" alt="" />
            <p  class="text-xl font-semibold">Health and Safety coaching</p>
        </div>
        </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center">
        <div class="lg:w-2/3 flex flex-col md:flex-row justify-center mt-20 gap-x-20">
        <div class="md:w-1/2 flex flex-col items-center">
            <img src="/assets/icons/icon2.svg" alt="" />
            <p  class="text-xl font-semibold">Employment Regulations</p>
        </div>
        <div class="md:w-1/2 flex flex-col items-center">
            <img src="/assets/icons/icon4.svg" alt="" />
            <p  class="text-xl font-semibold">Locations Assigned to Clients</p>
        </div>
        </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center">
        <div class="lg:w-2/3 flex flex-col md:flex-row justify-center mt-20 gap-x-20">
        <div class="md:w-1/2 flex flex-col items-center">
            <img src="/assets/icons/icon1.svg" alt="" />
            <p  class="text-xl font-semibold">Payroll administration</p>
        </div>
        <div class="md:w-1/2 flex flex-col items-center">
            <img src="/assets/icons/icon6.svg" alt="" />
            <p  class="text-xl font-semibold">Local Recruiting Assistance</p>
        </div>
        </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center">
        <div class="lg:w-2/3 flex flex-col md:flex-row justify-center mt-20 gap-x-20">
        <div class="md:w-1/2 flex flex-col items-center">
            <img src="/assets/icons/icon4.svg" alt="" />
            <p  class="text-xl font-semibold">Collaboration among employees</p>
        </div>
        <div class="md:w-1/2 flex flex-col items-center">
            <img src="/assets/icons/icon1.svg" alt="" />
            <p  class="text-xl font-semibold">Serving Customers Proactively</p>
        </div>
        </div>
    </div>

</section>
    
 
<app-lets-grow></app-lets-grow>  